<div class="container1">
    <h1>Demo School</h1>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium voluptate commodi voluptatibus quidem
        delectus veritatis! Rem tempora vel dolor sint?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quae recusandae necessitatibus ducimus voluptas
        nihil. Placeat commodi minus quam quaerat inventore a reprehenderit sunt? Adipisci impedit sequi commodi libero
        sed exercitationem mollitia voluptatum accusamus! Consectetur blanditiis odit officiis voluptates minima nemo
        consequuntur deserunt sequi perspiciatis aliquam molestiae illo, sit distinctio.</p>
    <div class="image">
        <img src="https://media.gettyimages.com/id/1148218795/photo/children-cheering-in-classroom.jpg?s=612x612&w=gi&k=20&c=mAtT-rGxoV7dfjAoTlnB9ic6D2Y2ev0j1eYnsHye-PQ="
            alt="School">
        <img src="https://media.istockphoto.com/id/1409722748/photo/students-raising-hands-while-teacher-asking-them-questions-in-classroom.jpg?b=1&s=170667a&w=0&k=20&c=wmjzzESyHcSDFXYI1qzngse-EIj7aBMfebEaqjT8cjM="
            alt="school">
        <img src="https://media.gettyimages.com/id/1148218795/photo/children-cheering-in-classroom.jpg?s=612x612&w=gi&k=20&c=mAtT-rGxoV7dfjAoTlnB9ic6D2Y2ev0j1eYnsHye-PQ="
            alt="School">
        <img src="https://media.istockphoto.com/id/1409722748/photo/students-raising-hands-while-teacher-asking-them-questions-in-classroom.jpg?b=1&s=170667a&w=0&k=20&c=wmjzzESyHcSDFXYI1qzngse-EIj7aBMfebEaqjT8cjM="
            alt="school">
    </div>

    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam quis incidunt vel labore ea! Ullam quia
        accusamus aliquam totam quod!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae asperiores molestias, veniam alias amet
        soluta, commodi, ipsum numquam cum dolorum repudiandae! Eius fugit totam accusamus porro, perspiciatis nisi
        veritatis fuga saepe cupiditate quidem architecto ex maxime rerum eveniet natus non deserunt laborum eaque
        assumenda voluptatem sint ea? Veniam, atque voluptate!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, pariatur recusandae cum aut corporis iste, quia dolore ipsam molestiae rerum sequi ab voluptate consectetur debitis laboriosam modi voluptatem quasi non, consequuntur neque veniam iure. Perspiciatis autem iure nulla, delectus incidunt quia qui expedita, suscipit necessitatibus ipsa, repudiandae aperiam ratione voluptatem.</p>



</div>